<section class="wrapper">
  <div class="row">
    <div class="col-lg-12 main-chart">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-4">
          <h2>Dashboard</h2>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-8">
          <div class="btn-group pull-right" style="margin-top: 20px">
            <button type="button" class="btn btn-default" ng-link="/article"><i class="fa fa-pencil" style="margin-right: 5px;"></i>  New article</button>
            <button type="button" class="btn btn-default" ng-link="/pages"><i class="fa fa-list-alt" style="margin-right: 5px;"></i>  New page</button>
            <button type="button" class="btn btn-default" ng-link="/user"><i class="fa fa-user" style="margin-right: 5px;"></i>  New user</button>
          </div>
        </div>
      </div>

      <!-- Stats -->
      <div class="row mtbox">
        <div class="col-md-2 col-sm-2 col-md-offset-3 col-sm-offset-3 box0">
          <div class="box1">
            <span class="li_news"></span>
            <h3>{{dashboard.articlesCount}}</h3>
          </div>
          <p>There are {{dashboard.articlesCount}} articles total on your website.</p>
        </div>
        <div class="col-md-2 col-sm-2 box0">
          <div class="box1">
            <span class="li_user"></span>
            <h3>{{dashboard.usersCount}}</h3>
          </div>
          <p>There are {{dashboard.usersCount}} user profiles total on your website.</p>
        </div>
        <div class="col-md-2 col-sm-2 box0">
          <div class="box1">
            <span class="li_note"></span>
            <h3>{{dashboard.pagesCount}}</h3>
          </div>
          <p>Your website has {{dashboard.pagesCount}} pages in total!</p>
        </div>
      </div>

      <!-- Quick post -->
      <div class="row mtbox">
        <div class="col-md-12">
          <form class="form-panel quick-post">
            <div class="row">
              <div class="col-md-6">
                <h5>Quick post: </h5>    
              </div>
              <div class="col-md-6">
                <h5>Add to page:</h5>
              </div>
            </div>
            
            <div class="row" style="margin-bottom: 25px;">
              <div class="col-md-6">
                <input ng-model="dashboard.quickPostTitle" type="text" placeholder="Article title ..." class="form-control article-title pull-left select-page" />  
              </div>
              <div class="col-md-6">
                <select ng-model="dashboard.addToPage" class="form-control">
                  <option ng-repeat="page in dashboard.pages">{{page.title}}</option>
                </select>
              </div>
            </div>
            <textarea class="form-control article-content" rows="25" style="margin-top: 25px" froala="dashboard.quickPostEditorOptions" ng-model="dashboard.quickPostContent">{{dashboard.quickPostContent}}</textarea>
            <button ng-click="dashboard.saveQuickPost()" style="margin-top: 25px" class="btn btn-primary btn-sm"><i class="fa fa-save" style="margin-right: 5px;"></i> &nbsp Save article</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="content-panel">
        <table class="table table-striped table-advance table-hover">
          <h4><i class="fa fa-angle-right"></i> Articles</h4>
          <hr>
          <thead>
            <tr>
              <th><i class="fa fa-bullhorn"></i> Article Title</th>
              <th class="hidden-phone"><i class="fa fa-user"></i> Author</th>
              <th><i class="fa fa-bookmark"></i> Date</th>
              <th><i class="fa fa-list-alt"></i> Page</th>
              <th><i class="fa fa-edit"></i> Published</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="article in dashboard.articles">
              <td><a href="basic_table.html#">{{article.content[dashboard.defaultLanguage].title}}</a></td>
              <td class="hidden-phone">{{article.author}}</td>
              <td>{{article.date}}</td>
              <td><span class="label label-info label-mini">{{article.page}}</span></td>
              <td>
                 <switch id="enabled" name="enabled" ng-model="article.published" class="green"></switch>
              </td>
              <td>
                <button ng-link="article/{{article.id}}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                <button ng-click="dashboard.deleteArticle(article.id)"class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
    <div class="col-lg-6 col-md-12">
      <div class="content-panel">
        <table class="table table-striped table-advance table-hover">
        <h4><i class="fa fa-angle-right"></i> Pages</h4>
        <hr>
        <thead>
          <tr>
            <th><i class="fa fa-bullhorn"></i> Page Title</th>
            <th class="hidden-phone"><i class="fa fa-user"></i> Author</th>
            <th><i class="fa fa-bookmark"></i> Date</th>
            <th><i class="fa fa-edit"></i></i> Articles</th>
            <th> Published</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="page in dashboard.pages">
            <td><a href="basic_table.html#">{{page.title}}</a></td>
            <td class="hidden-phone">{{page.author}}</td>
            <td>{{page.date}}</td>
            <td>{{page.articlesCount}}</td>
            <td>
               <switch id="enabled" name="enabled" ng-model="page.published" class="green"></switch>
            </td>
            <td>
              <button ng-link="/pages/{{page.id}}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
              <button ng-click="dashboard.deletePage(page.id)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</section>
